<a href="https://colab.research.google.com/github/JaynthReddy91/dav_assignment/blob/main/week1(174).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
alphabets=pd.Series(['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'])
print(alphabets)

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [ ]:
import pandas as pd

# Step 1 & 2: Create the Series
vowels = pd.Series([0, 0, 0, 0, 0], index=['a', 'e', 'i', 'o', 'u'])

# Step 3 & 4: Check if it's empty
print(vowels)
print(vowels.empty)

a    0
e    0
i    0
o    0
u    0
dtype: int64
False

In [ ]:
import pandas as pd

data = {"pasham": 199, "sarikella": 200}
f = pd.DataFrame(list(data.items()), columns=["name", "roll"])
print(f)

        name  roll
0     pasham   199
1  sarikella   200

In [ ]:
mtseries=pd.Series([])
print(mtseries)
print(mtseries.empty)

Series([], dtype: object)
True

In [ ]:
import numpy as np
import pandas as pd

# Step 1: Days in each month (non-leap year)
days = np.array([31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31])

# Step 2: Create the Series with labels 1 to 12
MonthDays = pd.Series(days, index=range(1, 13))

# Step 3: Print the Series
print(MonthDays)

1     31
2     28
3     31
4     30
5     31
6     30
7     31
8     31
9     30
10    31
11    30
12    31
dtype: int64

In [ ]:
vowels[:]=10
print(vowels)

a    10
e    10
i    10
o    10
u    10
dtype: int64

In [ ]:
vowels=vowels/2
print(vowels)

a    5.0
e    5.0
i    5.0
o    5.0
u    5.0
dtype: float64

In [ ]:
vowels1=pd.Series([2,5,3,6,8],index=["a",'e','i','o','u'])
print(vowels1)

a    2
e    5
i    3
o    6
u    8
dtype: int64

In [ ]:
import pandas as pd

# Define the data as a dictionary of lists
data = {
    '2014': [100.5, 150.8, 200.9, 30000, 40000],
    '2015': [12000, 18000, 22000, 30000, 45000],
    '2016': [20000, 50000, 70000, 100000, 125000],
    '2017': [50000, 60000, 70000, 80000, 90000]
}

# Define the row labels (sales persons)
index = ['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti']

# Create the DataFrame
Sales = pd.DataFrame(data, index=index)

# Display the DataFrame
print(Sales)

            2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.8  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000  125000  90000

In [ ]:
import pandas as pd
data={'2018':[3,4,5,6,7,8]}
df=pd.DataFrame(data,index=['a','b','c','d','e','f'])
print(df)

   2018
a     3
b     4
c     5
d     6
e     7
f     8